.chiffre1{
	background-color: yellow;
	display:flex;
	justify-content: space-around;

}

.chiffre2{
	background-color: red;
	display:flex;
	justify-content: space-around;
}


.chiffre3{
	background-color: green;
	display:flex;
	justify-content: space-around;	
}

